.img-carrito {
  max-width: 100px;
}
.table-cart {
  max-width: 90%;
}
td {
  width: 300px;
}
.eliminar-producto {
  border: none;
  background-color: white;
  color: red;
  text-decoration: underline;
}
.finalizar-compra {
  width: 300px;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.tucarrito-title {
  margin-bottom: 40px;
}
.seguir-comprando {
  margin-left: 0px;
  border: none;
  background-color: white;
  text-decoration: underline;
  color: rgb(92, 92, 172);
  margin: 10px;
  font-size: 15px;
}
.containerCart {
  margin-top: 0px;
}
