.containerIcon {
  width: fit-content;
  color: black;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.count {
  font-size: 17px;
  padding: 0px 5px;
  margin: 2px;
}
.iconCart:hover {
  transform: scale(1.1);
}
