@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.brand {
  display: flex;
  align-items: flex-start;
  margin: 0px 10px;
}

.navStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  background-color: rgb(255, 245, 101);
  height: auto;
}
.linkNav {
  list-style: none;
  margin: 30px 50px;
}

ul {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: flex-end;
}

input {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border: none;
  margin: 0px 10px;
}

.buttonSearch {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

.linkNav:hover {
  color: white;
}
